openapi: 3.0.3
info:
  title: LILT Create Workflows API
  description: "LILT API Support: https://lilt.atlassian.net/servicedesk/customer/portals\n\nThe LILT API enables programmatic access to the full-range of LILT backend services including:\n  * Training of and translating with interactive, adaptive machine translation\n  * Large-scale translation memory\n  * The Lexicon (a large-scale termbase)\n  * Programmatic control of the LILT CAT environment\n  * Translation memory synchronization\n\n\nRequests and responses are in JSON format. The REST API only responds to HTTPS / SSL requests.\n\nThe base url for this REST API is `https://api.lilt.com/`.\n\n## Authentication\n\nRequests are authenticated via API key, which requires the Business plan.\n\nRequests are authenticated using [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Add your API key as both the `username` and `password`.\n\nFor development, you may also pass the API key via the `key` query parameter. This is less secure than HTTP Basic Auth, and is not recommended for production use.\n\n## Quotas\n\nOur services have a general quota of 4000 requests per minute. Should you hit the maximum requests per minute, you will need to wait 60 seconds before you can send another request.\n"
  version: v3.0.3
  license:
    name: LILT Platform Terms and Conditions
    url: https://lilt.com/lilt-platform-terms-and-conditions
servers:
- url: https://api.lilt.com
security:
- BasicAuth: []
- ApiKeyAuth: []
tags:
- name: Workflows
paths:
  /v2/workflows/templates:
    get:
      tags:
      - Workflows
      summary: Retrieve workflow templates
      description: 'Get all of the possible Workflow Templates owned by the team. Useful for retrieving the ids corresponding to each workflow tables, and passing them to subsequent requests, for example, creating a new Job with a specific Workflow.

        Example CURL:

        ```bash curl -X GET ''https://api.lilt.com/v2/workflows/templates?key=API_KEY'' ```

        '
      operationId: getWorkflowTemplates
      responses:
        '200':
          description: An array with a team's available WorkflowTemplates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    WorkflowStageTemplate:
      type: object
      properties:
        name:
          type: string
          description: The human readable name of a Workflow stage.
          example: Translate
        assignmentType:
          type: string
          description: An enum to represent all possible types of Workflow stage.
          example: TRANSLATE
          enum:
          - READY_TO_START
          - TRANSLATE
          - REVIEW
          - SECONDARY_REVIEW
          - DONE
      description: A single stage within a Workflow Template.
    Error:
      type: object
      properties:
        message:
          type: string
          description: A human-readable message describing the error.
      description: 'Response in the event of an unexpected error.

        '
      example:
        message: Internal server error.
    WorkflowTemplate:
      type: object
      properties:
        id:
          type: number
          description: Identifier of a teams Workflow template. Can be used during Job creation for specifying the workflow used for a job or language pair.
          example: 15
        name:
          type: string
          example: Translate > Review > Customer Review
        TeamId:
          type: number
          description: The name of a given Workflow template.
          example: 100
        stages:
          type: array
          description: The stages in this workflow template.
          items:
            $ref: '#/components/schemas/WorkflowStageTemplate'
      description: A workflow template which defines the workflow's possible steps (combination of Translation, Review and Customer Review).
  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/octet-stream:
          schema:
            type: string
        text/plain:
          schema:
            type: string
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      name: key
      in: query
