openapi: 3.0.3
info:
  title: LILT Create Webhook Configuration API
  description: "LILT API Support: https://lilt.atlassian.net/servicedesk/customer/portals\n\nThe LILT API enables programmatic access to the full-range of LILT backend services including:\n  * Training of and translating with interactive, adaptive machine translation\n  * Large-scale translation memory\n  * The Lexicon (a large-scale termbase)\n  * Programmatic control of the LILT CAT environment\n  * Translation memory synchronization\n\n\nRequests and responses are in JSON format. The REST API only responds to HTTPS / SSL requests.\n\nThe base url for this REST API is `https://api.lilt.com/`.\n\n## Authentication\n\nRequests are authenticated via API key, which requires the Business plan.\n\nRequests are authenticated using [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Add your API key as both the `username` and `password`.\n\nFor development, you may also pass the API key via the `key` query parameter. This is less secure than HTTP Basic Auth, and is not recommended for production use.\n\n## Quotas\n\nOur services have a general quota of 4000 requests per minute. Should you hit the maximum requests per minute, you will need to wait 60 seconds before you can send another request.\n"
  version: v3.0.3
  license:
    name: LILT Platform Terms and Conditions
    url: https://lilt.com/lilt-platform-terms-and-conditions
servers:
- url: https://api.lilt.com
security:
- BasicAuth: []
- ApiKeyAuth: []
tags:
- name: Webhook Configuration
paths:
  /v3/connectors/configuration/webhooks:
    get:
      tags:
      - Webhook Configuration
      summary: Retrieve a list of Webhook Configurations.
      description: 'Retrieves a list of webhook configurations available to your LILT organization.

        Use this to manage your webhook configurations.

        '
      operationId: webhooksGetMany
      responses:
        '200':
          description: The webhook configurations response.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/webhook_response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Webhook Configuration
      summary: Creates a new Webhook Configuration
      description: 'Creates a new webhook configuration for your LILT organization.

        '
      operationId: webhooksCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_options'
      responses:
        '200':
          description: Returns the newly created webhook configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v3/connectors/configuration/webhooks/{id}:
    get:
      tags:
      - Webhook Configuration
      summary: Retrieve a specific Webhook Configuration by ID.
      description: 'Retrieves a specific webhook configuration by its ID.

        Deleted webhook configurations are not returned.

        '
      operationId: webhooksGet
      parameters:
      - name: id
        in: path
        required: true
        description: The Webhook Configuration ID.
        schema:
          type: integer
          example: 12345
      responses:
        '200':
          description: Returns the webhook configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Webhook Configuration
      summary: Update a specific Webhook Configuration by ID.
      description: 'Updates a specific webhook configuration by its ID.

        Only the fields that are provided in the request body will be updated.

        '
      operationId: webhooksUpdate
      parameters:
      - name: id
        in: path
        required: true
        description: The Webhook Configuration ID.
        schema:
          type: integer
          example: 12345
      requestBody:
        required: true
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                properties:
                  webhookName:
                    type: string
                    description: The name of the webhook configuration.
                required:
                - webhookName
              - type: object
                properties:
                  webhookUrl:
                    type: string
                    format: uri
                    description: The URL to which the webhook notifications will be sent.
                required:
                - webhookUrl
              - type: object
                properties:
                  eventType:
                    type: array
                    items:
                      type: string
                      enum:
                      - JOB_DELIVER
                      - JOB_UPDATE
                      - PROJECT_DELIVER
                      - PROJECT_UPDATE
                      - INSTANT_TRANSLATE_COMPLETED
                      - INSTANT_TRANSLATE_FAILED
                    description: The list of event types that will trigger the webhook notification.
                required:
                - eventType
      responses:
        '200':
          description: Returns the updated webhook configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Webhook Configuration
      summary: Delete a specific Webhook Configuration by ID.
      operationId: services.configuration_api.webhooks.delete
      parameters:
      - name: id
        in: path
        required: true
        description: The Webhook Configuration ID.
        schema:
          type: integer
          example: 12345
      responses:
        '204':
          description: Upon success a response with an empty body is returned.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    create_webhook_options:
      type: object
      properties:
        webhookName:
          type: string
          description: The name of the webhook configuration.
        webhookUrl:
          type: string
          format: uri
          description: The URL to which the webhook notifications will be sent.
        eventType:
          type: array
          items:
            type: string
            enum:
            - JOB_DELIVER
            - JOB_UPDATE
            - PROJECT_DELIVER
            - PROJECT_UPDATE
            - INSTANT_TRANSLATE_COMPLETED
            - INSTANT_TRANSLATE_FAILED
          description: The list of event types that will trigger the webhook notification.
      required:
      - webhookName
      - webhookUrl
      - eventType
    webhook_response:
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier for the webhook configuration.
          example: 12345
        webhookName:
          type: string
          description: The name of the webhook configuration.
        webhookUrl:
          type: string
          format: uri
          description: The URL to which the webhook notifications will be sent.
        eventType:
          type: array
          items:
            type: string
            enum:
            - JOB_DELIVER
            - JOB_UPDATE
            - PROJECT_DELIVER
            - PROJECT_UPDATE
            - INSTANT_TRANSLATE_COMPLETED
            - INSTANT_TRANSLATE_FAILED
          description: The list of event types that will trigger the webhook notification.
      required:
      - id
      - webhookName
      - webhookUrl
      - eventType
    Error:
      type: object
      properties:
        message:
          type: string
          description: A human-readable message describing the error.
      description: 'Response in the event of an unexpected error.

        '
      example:
        message: Internal server error.
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    ApiKeyAuth:
      type: apiKey
      name: key
      in: query
